@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #0a192f;
  --color-accent: #ffd60a;
  --color-bg: #f3f4f6;
  --color-slate: #64748b;
}


body {
  font-family: "Poppins", "Montserrat", ui-sans-serif, system-ui, sans-serif;
  background-color: var(--color-primary);
  color: white;
}
